//- index.pug
doctype html
html
  head
    title Mj-DanceAcademy 
    style
      include ../static/style.css
  body
    nav
        ul
          #logo 
            img(src="../static/logo.png", alt="logo")
            |MJDA
          li #[a(href = '/') Home]
          li #[a(href = '/') About]
          li #[a(href = '/') Services]
          li #[a(href = '/') Class Info]
          li #[a(href = '/') Contact Us]
        
    section#introSection
      h3 Welcome to MJ Dance Academy!
      div “Dance is the hidden language of the soul.” – Martha Graham

    section#missionSection 
      h2 Our Mission
      .cardSection
        .card 
          h3 Dance Perfection
          .card-box 
            .card-img
              img(src="../static/dance1.png", alt="")
            .card-content 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .card 
          h3 Various Dance Style
          .card-box 
            .card-img
              img(src="../static/dance2.png", alt="")
            .card-content 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .card 
          h3 Experts teaching
          .card-box 
            .card-img
              img(src="../static/dance3.png", alt="")
            .card-content 
              p Lorem ipsum dolor sit amet consectetur adipisicing elit.

    section#sponsorSection
      h2 Our Sponsors
        #sponsors
          img(src="", alt="")
    
footer
    |Our footer here 
    
    script
      include ../static/index.js