//- layout.pug
doctype html
html
  head
    title Mj-DanceStudio
    block scripts
    block style
  body
    block content
    block foot
        footer
            |Copyright © 2022 MJ-Studio.org | All rights reserved