//- layout.pug
doctype html
html
  head
    title Mj-DanceStudio
    block scripts
    block style
  body
    nav
        ul
          #logo 
            img(src="../static/logo.png", alt="logo")
            |MJDS
          li #[a(href = '/') Home]
          li #[a(href = '/') About]
          li #[a(href = '/') Services]
          li #[a(href = '/') Class Info]
          li #[a(href = '/contact') Contact Us]

    block content
    block foot
        footer
            |Copyright © 2022 MJ-Studio.org | All rights reserved