@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 18px 14px;
    position: relative;
    background-color: black;
    font-family: 'Yeon Sung';
    box-shadow: 0 0 16px #119a13;
    z-index: 10;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li {
    list-style: none;
}

nav li a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 13px 30px;
    color: white;
}

nav li a:hover {
    transition: 0.3s;
    color: #119a13;
}

#introSection {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../static/danceAcad.jpg);
    background-size: cover;
    background-position: center;
    height: 425px;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 30px;
    padding-bottom: 50px;
}

#introSection h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #119a13;
    padding-bottom: 18px;
}

#missionSection {
    height: 313px;
    background-color: black;
    color: white;
}

#missionSection .cardSection {
    margin: auto;
    width: 67%;
}

#missionSection h2 {
    font-size: 42px;
    text-align: center;
    padding-top: 23px;
    font-family: 'Yeon Sung';
}

.card {
    display: inline-block;
    border: 2px solid white;
    border-radius: 10px;
    width: 29%;
    margin: 23px 22px;
    height: 209px;
}

.card h3 {
    text-align: center;
    margin: 12px;
}


#sponsorSection {
    height: 300px;
    background-color: black;
    color: white;
}

#sponsorSection h2 {
    font-size: 42px;
    text-align: center;
    padding-top: 35px;
    font-family: 'Yeon Sung';
}

footer {
    background-color: black;
    height: 100px;
}